body, html {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    max-width: 800px;
    margin: auto;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;

    --orange: #FFA500;
    --white: rgb(245, 245, 245);
    --blue: rgb(85, 169, 254);
    overflow-y: scroll;
}

::selection {
    background: rgb(120, 201, 255);
}

/* Change cursor color */

/* Make scroll bar invisible */
/* ::-webkit-scrollbar {
width: 0px;
height: 0px;
background: transparent;
} */

/* Removes blue border of selected buttons */
button:focus { outline: 0; }
div:focus { outline: 0; }
span:focus { outline: 0; }
img:focus { outline: 0; }
textarea:focus { outline: 0; }
p:focus { outline: 0; }
input:focus { outline: 0; }
select:focus { outline: 0; }
app-arrow-button:focus { outline: 0; }

/* Remove default style from links */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* Raised Effect */
.raised {
box-shadow: 
inset 0 -3em 3em rgba(0,0,0,0.1), 
    /* 0 0  0 2px rgb(255,255,255), */
    0.3em 0.3em 1em rgba(0,0,0,0.3); 
}

/* Colors */
.text-orange { color: rgb(255, 102, 0); }
.text-green { color: rgb(1, 218, 1); }
.text-blue { color: rgb(43, 165, 247); }
.text-red { color: rgb(247, 67, 67); }
.text-light { color: rgb(150, 148, 148); }
